/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
/* 快捷导航模块 */
.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
.fr ul li:nth-child(2n) {
    width: 1.2px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px;
}
.fr .selected::after{
    content: ;
}